filebeat.inputs:
- type: log
  paths:
    - /var/log/nginx/*.log
  fields:
    log_type: nginx

- type: log
  paths:
    - /var/log/cloud-init*.log
  fields:
    log_type: cloud-init

- type: log
  paths:
    - /var/log/dnf.log
  fields:
    log_type: dnf

output.logstash:
  hosts: ["172.31.87.116:5044"]

processors:
- if.equals.fields.log_type: nginx
  then:
    - set:
        field: _index
        value: "nginx-logs-%{+yyyy.MM.dd}"
- if.equals.fields.log_type: cloud-init
  then:
    - set:
        field: _index
        value: "cloud-init-logs-%{+yyyy.MM.dd}"
- if.equals.fields.log_type: dnf
  then:
    - set:
        field: _index
        value: "dnf-logs-%{+yyyy.MM.dd}"

