filebeat.inputs:
- type: log
  paths:
    - /var/log/nginx/*.log
  fields:
    log_type: nginx

- type: log
  paths:
    - /var/log/cloud-init*.log
  fields:
    log_type: cloud-init

- type: log
  paths:
    - /var/log/dnf.log
  fields:
    log_type: dnf

output.logstash:
  hosts: ["172.31.82.5:5044"]

processors:
- if.equals.fields.log_type: nginx
  then:
    - add_fields:
        target: ''
        fields:
          _index: "nginx-logs-%{+yyyy.MM.dd}"
- if.equals.fields.log_type: cloud-init
  then:
    - add_fields:
        target: ''
        fields:
          _index: "cloud-init-logs-%{+yyyy.MM.dd}"
- if.equals.fields.log_type: dnf
  then:
    - add_fields:
        target: ''
        fields:
          _index: "dnf-logs-%{+yyyy.MM.dd}"
